@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .bounded-section {
    @apply mx-auto w-page max-w-full px-3 sm:px-8;
  }

  .space-children {
    @apply space-y-8 sm:space-y-16;
  }

  /* slider link */
  .slider-link {
    position: relative;
    padding: 0.35rem;
  }

  .slider-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    scale: 0 1;
    transform-origin: right;

    @apply bg-lightningYellow transition-[scale];
  }

  .slider-link:hover::after {
    scale: 1 1;
    transform-origin: left;
  }

  /* horizontal scroll list */
  .horizontal-list-container {
    @apply relative isolate px-8;
  }

  .horizontal-list-container > div {
    cursor: grab;
  }

  .horizontal-list-container.drag > div {
    cursor: grabbing;
  }

  .horizontal-list {
    /*
      Custom properties from jsx (see 'HorizontalList.tsx'):
        --scroll
        --duration
        --sm-num-items
        --md-num-items
        --lg-num-items
        --gap
    */

    --num-items: 1;
    --sm-num-items: 1;
    --md-num-items: var(--sm-num-items, 1);
    --lg-num-items: var(--md-num-items, 1);
    --item-width: calc(
      (100% - (var(--num-items) - 1) * var(--gap)) / var(--num-items)
    );

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: var(--item-width);
    gap: var(--gap);
    translate: calc(-1 * (var(--scroll) * (var(--item-width) + var(--gap)))) 0;
    pointer-events: none;
    user-select: none;

    @apply sm:[--num-items:var(--sm-num-items)] md:[--num-items:var(--md-num-items)] lg:[--num-items:var(--lg-num-items)];
  }

  .horizontal-list-container.scroll button {
    pointer-events: none;
  }

  .horizontal-list-container.scroll .horizontal-list {
    transition-property: translate;
    transition-duration: var(--duration);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* hamburger menu  */
  .hamburger-button {
    @apply grid grid-cols-[auto,30px] items-center gap-4 p-1
         md:hidden;
  }

  .hamburger-button > p {
    @apply hidden sm:block;
  }

  .hamburger-button > div {
    --gap: 6px;
    gap: var(--gap);

    @apply col-start-2 grid min-h-[1em] w-full min-w-[1em] grid-cols-1 grid-rows-3;
  }

  .hamburger-button .bar {
    --height: 4px;
    --translate: calc(var(--gap) + var(--height));
    --rotate: 405deg;
    height: var(--height);

    @apply rounded-sm bg-white transition-transform;
  }

  .hamburger-button.open .bar1 {
    transform: translateY(var(--translate)) rotate(var(--rotate));
  }

  .hamburger-button.open .bar2 {
    transform: scale(0) rotate(360deg);
  }

  .hamburger-button.open .bar3 {
    transform: translateY(calc(-1 * var(--translate)))
      rotate(calc(-1 * var(--rotate)));
  }

  .hamburger-menu {
    @apply pointer-events-none absolute -top-[10px] left-0 flex w-full flex-col justify-between bg-neutral-900 pb-4 opacity-0 transition-[top,opacity]
           md:pointer-events-auto md:contents;
  }

  .hamburger-menu li {
    @apply flex w-full items-center justify-center
           md:w-auto;
  }

  .hamburger-menu.open,
  .hamburger-menu:focus-within {
    @apply pointer-events-auto top-[100%] opacity-100;
  }
}
