@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Shadows+Into+Light+Two&family=Teko&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
  }

  .slider-link {
    position: relative;
    padding: 0.35rem;
  }

  .slider-link::after {
    @apply bg-accent transition-[scale];

    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    scale: 0 1;
    transform-origin: right;
  }

  .slider-link:hover::after {
    scale: 1 1;
    transform-origin: left;
  }

  .bounded-section {
    @apply mx-auto w-page max-w-full px-2 sm:px-8 xl:px-0;
  }

  section.bounded-section {
    @apply space-y-16;
  }

  .horizontal-list {
    --gap: 6rem;
    --item-width: 100%;

    @apply select-none lg:[--item-width:calc(50%-var(--gap)/2)];

    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: var(--item-width);
    gap: var(--gap);
    translate: calc(-1 * (var(--scroll) * (var(--item-width) + var(--gap)))) 0;
    pointer-events: none;
  }

  .horizontal-list-container.scroll button {
    pointer-events: none;
  }

  .horizontal-list-container.scroll .horizontal-list {
    transition-property: translate;
    transition-duration: var(--duration);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* hamburger menu  */
  .hamburger-button {
    @apply grid grid-cols-[auto,30px] items-center gap-4 p-1
         md:hidden;
  }

  .hamburger-button > p {
    @apply hidden sm:block;
  }

  .hamburger-button > div {
    --gap: 6px;

    @apply col-start-2 grid min-h-[1em] w-full min-w-[1em] grid-cols-1 grid-rows-3;

    gap: var(--gap);
  }

  .hamburger-button .bar {
    --height: 4px;
    --translate: calc(var(--gap) + var(--height));
    --rotate: 405deg;

    @apply rounded-sm bg-white transition-transform;

    height: var(--height);
  }

  .hamburger-button.open .bar1 {
    transform: translateY(var(--translate)) rotate(var(--rotate));
  }

  .hamburger-button.open .bar2 {
    transform: rotateY(90deg);
  }

  .hamburger-button.open .bar3 {
    transform: translateY(calc(-1 * var(--translate)))
      rotate(calc(-1 * var(--rotate)));
  }

  .hamburger-menu {
    @apply pointer-events-none absolute -top-[10px] left-0 flex w-full flex-col justify-between bg-neutral-900 pb-4 opacity-0 transition-[top,opacity]
           md:contents;
  }

  .hamburger-menu li {
    @apply flex w-full items-center justify-center transition-[height,margin]
           md:w-auto;
  }

  .hamburger-menu.open,
  .hamburger-menu:focus-within {
    @apply pointer-events-auto top-full opacity-100;
  }
}
